:root {
  --text: #333;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;

  font: 16px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  color: var(--text);
  background: var(--bg);
}

body {
  margin: 0;
}

h1 {
  font-size: 32px;
  color: var(--text-h);
}
